@import "tailwindcss";

@media screen and (min-width: 1280px) {
  .container {
    /* max-width: 700px; */
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 1px solid black; */
  }
  .card {
    width: 600px;
  }
}
